@use 'header';
@use 'mixins';

.container1 {
    width: 100%;
    min-height: calc(100vh - 4em);
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    gap: 2em;

    h2 {
        @include mixins.clamp(2em, 3em);
        font-weight: 800;
        color: #b73743;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin: 0;

        .row {
            gap: 2em;

            .pic {
                width: 40%;
                height: 15em;
                border-radius: 25px;
                overflow: hidden;
                padding: 0;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .info {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1em;

                h3 {
                    @include mixins.clamp(1.5em, 1.8vw);
                    font-weight: 700;
                    color: #ff5548;
                }

                p {
                    @include mixins.clamp(0.9em, 1.1vw);
                    font-weight: 600;
                    color: var(--color);
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .container1 {
        h2 {
            text-align: center;
        }

        .container-fluid {
            gap: 5em;

            .row {
                .order-2 {
                    order: initial !important;
                }

                .pic,
                .info {
                    width: 100%;
                }
            }
        }
    }
}