@use 'header';
@use 'mixins';

// Declaro un map vacío para luego asignarle valores con un for.
$images: ();

//Itero 15 veces sobre el map "$images" para asignarle cada valor de las imágenes que quiero usar.
@for $i from 1 through 15 {
    $map: (#{$i}: '../images/menu#{$i}.webp');
    $images: map-merge($images, $map);
}

.container1 {
    width: 100%;
    min-height: calc(100vh - 4em);
    display: flex;
    flex-direction: column;
    padding: 1em;
    padding-bottom: 2em;
    gap: 2em;

    h2 {
        @include mixins.clamp(2em, 3em);
        color: #b73743;
        font-weight: 800;
        text-align: center;
    }

    .subContainer1 {
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
        grid-auto-rows: 12em;
        gap: 1em;
        row-gap: 1.5em;

        .item {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0.2em;

            .thumb {
                width: 100%;
                height: 80%;
                overflow: hidden;
                border-radius: 25px;
                transition: 0.2s ease-out;

                //Asigno una imagen para cada elemento recorriendo el map "$images" con un foreach.
                @each $pic, $route in $images {
                    &.t#{$pic} {
                        background-image: url('#{$route}');
                        background-size: 100%;
                        background-position: center;

                        &:hover {
                            background-size: 110%;
                            filter: saturate(150%);
                        }
                    }
                }
            }

            span {
                font-size: 1.2em;
                font-weight: 700;
                color: #ff5548;
            }
        }
    }
}

.container2 {
    width: 100%;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    padding-top: 2em;
    gap: 2em;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 20%;
        height: 5px;
        border-radius: 50vh;
        background-color: #ff5548;
    }

    h2 {
        @include mixins.clamp(2em, 3em);
        color: #b73743;
        font-weight: 800;
        text-align: center;
    }

    .row {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0;
        padding-left: 5em;
        margin-bottom: 3em;

        &:last-child {
            margin-bottom: 0;
        }

        &.second {
            padding-left: 2em;
        }

        .info {
            width: 40%;
            height: max-content;
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            h3 {
                @include mixins.clamp(1.5em, 2em);
                font-weight: 700;
                color: #ff5548;
            }

            p {
                font-size: 1em;
                font-weight: 600;
                color: var(--color);
            }
        }

        .pic {
            width: 45%;
            height: max-content;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (max-width: 800px) {
    .container2 {
        .container-fluid-lg {
            .row {
                flex-direction: column;
                gap: 5em;
                padding-left: 0;

                &.second {
                    flex-direction: column;

                    .order-2 {
                        order: initial !important;
                    }
                }

                .info {
                    width: 90%;

                    h3, p {
                        text-align: center;
                    }
                }

                .pic {
                    width: 70%;
                    height: max-content;
                }
            }
        }
    }
}